<a href="https://colab.research.google.com/github/jonathanhicks97/MLTSA22_JHicks/blob/main/HW8/HW8_JHicks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
import numpy as np
import pylab as pl

%pylab inline
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import RBF, WhiteKernel, ConstantKernel, ExpSineSquared
from scipy import interpolate
!pip install george
import george
from george import kernels

Populating the interactive namespace from numpy and matplotlib
Requirement already satisfied: george in /usr/local/lib/python3.7/dist-packages (0.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from george) (1.21.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from george) (1.4.1)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
ls drive/MyDrive/MLTSA22/

 HW2/
 my_apis.csv
 New+york,ny.csv
'SP.POP.TOTL?downloadformat=excel'
'SP.POP.TOTL?downloadformat=excel.1'
'SP.POP.TOTL?downloadformat=excel.2'
'SP.POP.TOTL?downloadformat=excel.3'
'SP.POP.TOTL?downloadformat=excel.4'
'SP.POP.TOTL?downloadformat=excel.5'
 training_set.csv
 training_set_metadata.csv
 United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv

In [6]:
lcvs = pd.read_csv('drive/MyDrive/MLTSA22/training_set.csv')
lcvs.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [7]:
print("The shape of light curves dataset is:", lcvs.shape)

The shape of light curves dataset is: (1421705, 6)

In [8]:
bands = lcvs["passband"].unique()
print("Passbands (filter) identifiers:", bands)
objects = lcvs["object_id"].unique()
print("There are {} astrophysical simulated objects in my dataset".format(objects.shape[0]))

Passbands (filter) identifiers: [2 1 3 4 5 0]
There are 7848 astrophysical simulated objects in my dataset

In [50]:

if 'normalized' in globals():
    del normalized
reset_time = lcvs.groupby(['object_id','passband'])['mjd'].apply(lambda x: x - x.min())
lcvs['delta_t'] = reset_time.values

In [113]:
normalized = lcvs.groupby(['object_id','passband'], as_index = False)[['object_id','passband','delta_t','flux']]

In [146]:
TotalDF = pd.DataFrame(normalized)

In [178]:
TotalDF[1][1]

,object_id,mjd,passband,flux,flux_err,detected,delta_t
1,615,59750.4306,1,-816.434326,5.553370,1,0.0000
5,615,59752.4147,1,-1061.457031,6.472994,1,1.9841
10,615,59767.3045,1,-815.188599,5.293019,1,16.8739
15,615,59770.2256,1,-820.042786,5.875329,1,19.7950
20,615,59779.3265,1,-921.002502,6.306800,1,28.8959
25,615,59782.1974,1,-449.095612,4.028310,1,31.7668
30,615,59797.2938,1,35.511822,3.163646,1,46.8632
35,615,59800.3244,1,129.541901,4.358776,1,49.8938
40,615,59807.1815,1,-420.796417,4.037735,1,56.7509
45,615,59810.1122,1,-527.020325,4.204173,1,59.6816
50,615,59813.1122,1,-1100.440063,6.709106,1,62.6816
60,615,59835.0678,1,-178.149399,3.809858,1,84.6372
65,615,59839.0384,1,-953.883728,6.035410,1,88.6078
70,615,59842.0285,1,-1003.971497,6.256784,1,91.5979
76,615,59854.0873,1,217.894211,3.332742,1,103.6567
81,615,59857.0531,1,646.523193,5.291624,1,106.6225
86,615,59864.0239,1,-942.167908,5.916004,1,113.5933
91,615,59867.0255,1,-910.677734,5.852032,1,116.5949
96,615,59870.0272,1,659.486694,4.991051,1,119.5966
101,615,59873.0289,1,-98.796974,3.034533,1,122.5983
113,615,59884.0900,1,-437.425110,3.831595,1,133.6594
118,615,59887.0375,1,-743.267212,5.624708,1,136.6069
124,615,60124.2618,1,-878.043396,6.210247,1,373.8312
135,615,60153.2351,1,-917.875488,5.951387,1,402.8045
140,615,60162.1554,1,-62.120552,3.818642,1,411.7248
145,615,60165.1446,1,-836.233154,5.405759,1,414.7140
150,615,60168.1337,1,-1077.347900,6.591075,1,417.7031
157,615,60181.3223,1,-339.875153,3.626661,1,430.8917
162,615,60184.3701,1,-1028.441528,6.719577,1,433.9395
167,615,60194.1652,1,276.757751,3.594162,1,443.7346
172,615,60197.1258,1,650.984314,4.970811,1,446.6952
184,615,60208.0307,1,-1094.027588,6.717340,1,457.6001
189,615,60211.0202,1,-370.189575,4.525907,1,460.5896
194,615,60221.0230,1,-1086.777710,6.620100,1,470.5924
199,615,60224.0217,1,346.335083,3.835582,1,473.5911
204,615,60227.0228,1,356.632690,3.856145,1,476.5922
212,615,60237.2283,1,-1098.651489,6.689435,1,486.7977
217,615,60240.0300,1,14.526012,3.783879,0,489.5994
222,615,60249.0415,1,660.626343,4.961018,1,498.6109
232,615,60490.2725,1,-624.518799,4.704853,1,739.8419
237,615,60493.2450,1,-1031.102905,6.378702,1,742.8144
246,615,60508.2715,1,-32.986282,4.440859,0,757.8409
253,615,60532.3565,1,566.281433,4.607503,1,781.9259
258,615,60535.1330,1,-1084.891113,6.952323,1,784.7024
263,615,60538.2428,1,51.060081,3.762334,1,787.8122
268,615,60546.3482,1,142.089966,4.065646,1,795.9176
273,615,60549.0956,1,-1076.652100,6.604701,1,798.6650
285,615,60567.2897,1,-972.201111,6.347886,1,816.8591
290,615,60574.1195,1,-812.792908,5.570116,1,823.6889
295,615,60577.0263,1,-963.216980,6.134610,1,826.5957
300,615,60580.0173,1,655.284058,5.148244,1,829.5867
312,615,60593.0713,1,205.029755,3.258004,1,842.6407
317,615,60596.0381,1,-388.231476,4.931039,1,845.6075
322,615,60603.0286,1,70.494507,3.060846,1,852.5980
327,615,60606.0303,1,457.502197,4.173640,1,855.5997
332,615,60609.0323,1,-537.169312,4.090708,1,858.6017
343,615,60621.1810,1,-607.040771,4.452463,1,870.7504
348,615,60624.1836,1,607.047668,5.140991,1,873.7530

In [239]:
rows = TotalDF.shape[0]

interpolated_func = [None] * rows
ynew = [None] * rows
object_id = [None] * rows
passband = [None] * rows
for i in range(rows):
  dataset = TotalDF[1][i]
  delta_t_new = np.linspace(0, dataset['delta_t'].max(), num = 50)
  interpolated_func[i] = interpolate.interp1d(x = dataset['delta_t'], y = dataset['flux'], kind = 'linear')
  ynew[i] = interpolated_func[i](delta_t_new)
  object_id[i] = dataset['object_id']
  passband[i] = dataset['passband']

In [234]:
for i in range(len(object_id)):
  object_id[i] = object_id[i].values[1]
  passband[i] = passband[i].values[1]

In [244]:
Final_Dataset = pd.DataFrame(data = [[delta_t_new, ynew, object_id, passband]], columns = ['t','flux','object','passband'])